﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <style>
        .bodyDiv {
            background-image: url("/image/4.jpg");
            image-resolution0: 50dpi
        }
        .divCenter {
            fit-position: center;
            padding: 200px 350px 350px 350px;

        }
        .panel-transparent {
            background: none;
            border-color:#8fbc8f
        }

        .panel-transparent .panel-heading {
            background: rgba(122, 130, 136, 0.2) !important;
        }

        .panel-transparent .panel-body {
            background: rgba(46, 51, 56, 0.2) !important;
        }
    </style>
</head>

<body class="bodyDiv">
    <form method="POST">
        <div class="container">
            <div class="divCenter form-horizontal">
                <div class="panel panel-transparent">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <center><strong style="color:black">Sign In</strong></center>
                        </div>
                    </div>
                    <div class="panel-body">
                        <label class="alert-warning">@ViewBag.Message</label>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Username</label>
                            <div class="col-md-9">
                                <input type="text" name="txtUser" class="form-control info-box" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Password</label>
                            <div class="col-md-9">
                                <input type="password" name="txtPass" class="form-control info-box" required/>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="col-md-3 control-label">Service Provider ?</label>
                            <div class="col-md-3">
                                <input type="checkbox" name="sp" class="form-control info-box"/>
                            </div>
                            <label class="col-md-3 control-label">Service Seeker ?</label>
                            <div class="col-md-3">
                                <input type="checkbox" name="sk" class="form-control info-box"/>
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-5">
                                <input type="submit" class="btn btn-success" value="Login"/>
                            </div>
                            <div class="col-md-4">
                                <div class="form-control">@Html.ActionLink("Go to home", "SearchByProfession", "ServiceProvider")</div>
                            </div>`
                        </div>
                        <div class="form-group">
                            
                          
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
