﻿<!DOCTYPE html>
<html>

<head>

    @RenderSection("head", required: false)

    <!-- Title -->
    <title>DTST | Daily To-Do Services Toolkit</title>

    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta charset="UTF-8">
    <meta name="description" content="Daily To-Do Services Toolkit" />
    <meta name="keywords" content="dashboard" />
    <meta name="author" content="khairul_omi" />

    <!-- Styles -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

    <link href="@Url.Content("/assets/plugins/pace-master/themes/blue/pace-theme-flash.css")" rel="stylesheet" />
    <link href="@Url.Content("/assets/plugins/uniform/css/uniform.default.min.css")" rel="stylesheet" />
    <link href="@Url.Content("/assets/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/assets/plugins/fontawesome/css/font-awesome.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/assets/plugins/line-icons/simple-line-icons.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/assets/plugins/offcanvasmenueffects/css/menu_cornerbox.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/assets/plugins/waves/waves.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/assets/plugins/switchery/switchery.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/assets/plugins/3d-bold-navigation/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/assets/plugins/weather-icons-master/css/weather-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/assets/plugins/metrojs/MetroJs.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("/assets/plugins/toastr/toastr.min.css")" rel="stylesheet" type="text/css" />

    <link href="/assets/plugins/pace-master/themes/blue/pace-theme-flash.css" rel="stylesheet" />
    <link href="/assets/plugins/uniform/css/uniform.default.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/plugins/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/line-icons/simple-line-icons.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/offcanvasmenueffects/css/menu_cornerbox.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/waves/waves.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/switchery/switchery.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/3d-bold-navigation/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/weather-icons-master/css/weather-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/metrojs/MetroJs.min.css" rel="stylesheet" type="text/css" />
    <!--<link href="/assets/plugins/toastr/toastr.min.css" rel="stylesheet" type="text/css" />-->
    ><!-- Theme Styles -->
    <link href="/assets/css/modern.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/themes/white.css" class="theme-color" rel="stylesheet" type="text/css" />
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css" />

    <script src="/assets/plugins/3d-bold-navigation/js/modernizr.js"></script>
    <script src="/assets/plugins/offcanvasmenueffects/js/snap.svg-min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .page-content {
            background: #34425A;
        }

        .navbar .logo-box {
            background: #fff;
        }

            .navbar .logo-box a {
                color: #5f5f5f;
            }

        .sidebar {
            background: #34425A;
        }

        .sidebar-header {
            background: #34425A;
        }

        .sidebar-profile span small {
            color: #ffffff;
        }

        .menu {
            background: #34425A;
        }

            .menu.accordion-menu a {
                color: #ffffff;
            }

                .menu.accordion-menu a:hover {
                    background: #34425A;
                    color: #fff;
                }

            .menu.accordion-menu > li.active > a,
            .menu.accordion-menu > li.active.open > a {
                background: #34425A;
                color: #fff;
            }

            .small-sidebar:not(.page-sidebar-fixed) .accordion-menu li.droplink:hover > a,
            .horizontal-bar .accordion-menu li.droplink:hover > a,
            .menu.accordion-menu ul,
            .menu.accordion-menu li.open > a,
            .hover-menu .accordion-menu li.droplink:hover > a {
                background: #34425A;
                color: #fff;
            }

                .menu.accordion-menu ul li a:hover,
                .menu.accordion-menu ul li.active a {
                    background: #34425A;
                    color: #fff;
                }

                .menu.accordion-menu ul li a {
                    color: #ffffff;
                }

        #cd-nav {
            background-image: url("/Uploads/back.jpg");
            font-family: cursive;
            text-decoration-color: brown;
        }
    </style>
</head>
<body class="page-header-fixed">
    @RenderSection("featured", required: false)
    <div class="overlay"></div>
    <div class="menu-wrap">
        <nav class="profile-menu">
            <div class="profile"><span>USER</span></div>
            <div class="profile-menu-list">
                <a href="#"><i class="fa fa-star"></i><span>Favorites</span></a>
                <a href="#"><i class="fa fa-bell"></i><span>Alerts</span></a>
                <a href="#"><i class="fa fa-envelope"></i><span>Messages</span></a>
                <a href="#"><i class="fa fa-comment"></i><span>Comments</span></a>
            </div>
        </nav>
        <button class="close-button" id="close-button">Close Menu</button>

    </div>
    <form class="search-form" action="#" method="GET">
        <div class="input-group">
            <input type="text" name="search" class="form-control search-input" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-default close-search waves-effect waves-button waves-classic" type="button"><i class="fa fa-times"></i></button>
            </span>
        </div><!-- Input Group -->
    </form><!-- Search Form -->
    <main class="page-content content-wrap">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="sidebar-pusher">
                    <a href="javascript:void(0);" class="waves-effect waves-button waves-classic push-sidebar">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <div class="logo-box">
                    <a href="index.html" class="logo-text"><span>DTST</span></a>
                </div><!-- Logo Box -->
                <div class="search-button">
                    <a href="javascript:void(0);" class="waves-effect waves-button waves-classic show-search"><i class="fa fa-search"></i></a>
                </div>
                <div class="topmenu-outer">
                    <div class="top-menu">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="javascript:void(0);" class="waves-effect waves-button waves-classic sidebar-toggle"><i class="fa fa-bars"></i></a>
                            </li>
                            <li>
                                <a href="#cd-nav" class="waves-effect waves-button waves-classic cd-nav-trigger"><i class="fa fa-diamond"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="waves-effect waves-button waves-classic toggle-fullscreen"><i class="fa fa-expand"></i></a>
                            </li>
                            <li>
                                @Html.ActionLink("Search service", "SearchByProfession", "ServiceProvider", new { @class = "log-out waves-effect waves-button waves-classic", @id = "myid" }, null)
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>

                            </li>

                            @{
                                if (Session["spId"] == null && Session["skId"] != null)
                                {
                                    int skid = Convert.ToInt32(Session["skId"]);
                                    <li>
                                        @Html.ActionLink("Service Seeker", "Details", "ServiceSeeker", new { id = skid, @class = "log-out waves-effect waves-button waves-classic" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("Logout", "Logout", "Login", new { @class = "log-out waves-effect waves-button waves-classic", @id = "myid" }, null)
                                    </li>
                                }
                                else if (Session["spId"] != null && Session["skId"] == null)
                                {
                                    int spid = Convert.ToInt32(Session["spId"]);
                                    <li>
                                        @Html.ActionLink("Service provider", "Details", "ServiceProvider", new { id = spid, @class = "log-out waves-effect waves-button waves-classic" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("Logout", "Logout", "Login", new { @class = "log-out waves-effect waves-button waves-classic", @id = "myid" }, null)
                                    </li>
                                }

                                else
                                {
                                    <li>
                                        @Html.ActionLink("Service provider signup", "Create", "ServiceProvider", new { @class = "log-out waves-effect waves-button waves-classic", @id = "myid" }, null)

                                    </li>
                                    <li>
                                        @Html.ActionLink("Service seeker signup", "Create", "ServiceSeeker", new { @class = "log-out waves-effect waves-button waves-classic", @id = "myid" }, null)

                                    </li>
                                    <li>
                                        @Html.ActionLink("Sign In", "Index", "Login", new { @class = "log-out waves-effect waves-button waves-classic", @id = "myid" }, null)

                                    </li>

                                }
                            }



                        </ul><!-- Nav -->
                    </div><!-- Top Menu -->
                </div>
            </div>
        </div><!-- Navbar -->
        @*<div class="page-sidebar sidebar">
            <div class="page-sidebar-inner slimscroll">
            <div class="sidebar-header" id="userSidebar">
            <div class="sidebar-profile">
            <a href="javascript:void(0);" id="profile-menu-link">
            <div class="sidebar-profile-image">
            <img src="/assets/images/avatar1.png" class="img-circle img-responsive" alt="">
            </div>
            <div class="sidebar-profile-details">
            <span>USER NAME<br><small>Profession</small></span>
            </div>
            </a>
            </div>
            </div>
            <ul class="menu accordion-menu">
            <hr />
            <hr />
            <li class="active"><a href="#" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-home"></span>@Html.ActionLink("Home", "Index", "Home")</a></li>
            <hr />
            <li class="droplink">
            <a href="#" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-envelope"></span><p>Service Provider</p><span class="fa fa-angle-double-down"></span></a>
            <ul class="sub-menu">
            <hr />
            <li>@Html.ActionLink("Profile", "Details", "ServiceProvider")</li>
            <li>@Html.ActionLink("Posts", "", "")</li>

            </ul>
            </li>
            <hr />
            <li class="droplink">
            <a href="#" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-briefcase"></span><p>Service Seeker</p><span class="fa fa-angle-double-down"></span></a>
            <ul class="sub-menu">
            <li>@Html.ActionLink("Profile", "", "")</li>
            <li>@Html.ActionLink("Posts", "", "")</li>

            </ul>
            </li>



            </ul>
            </div><!-- Page Sidebar Inner -->
            </div><!-- Page Sidebar -->*@
        <div class="page-inner">
            @*<div class="page-title">
                <h3>Dashboard</h3>
                <div class="page-breadcrumb">
                <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Dashboard</li>
                </ol>
                </div>
                </div>*@
            <div id="main-wrapper">

                @RenderBody()

            </div><!-- Main Wrapper -->
            <div class="page-footer">
                <p class="no-s">2016 &copy; Service Toolkit by khairulomi@gmail.com.</p>
            </div>
        </div><!-- Page Inner -->
    </main><!-- Page Content -->
    <nav class="cd-nav-container" id="cd-nav">
        <header>
        
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title center">
                                <center><strong style="font-size: 18px">Honarable Supervisor</strong></center>
                            </div>
                        </div>

                        <div class="panel-body" style="padding-top: 20px; padding-right: 20px">
                            <center><img src="/Uploads/sabiha.jpg" alt="supervisor photo" height="200px" width="200px" style="border-radius: 70px;"  /></center>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title center">
                                <center><strong style="font-size: 18px">Honarable Guide Teacher</strong></center>
                            </div>
                        </div>

                        <div class="panel-body" style="padding-top: 20px; padding-right: 20px">
                            <center> <img src="/Uploads/jfa.jpg" alt="supervisor photo" height="200px" width="200px" style="border-radius:70px" /></center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title center">
                                <center><strong style="font-size: 18px">Project Member</strong></center>
                            </div>
                        </div>

                        <div class="panel-body" style="padding-top: 20px; padding-right: 20px">
                            <center><img src="/Uploads/aysha.jpg" alt="supervisor photo" height="200px" width="200px" style="border-radius: 70px;" /></center>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title center">
                                <center><strong style="font-size: 18px">Project Member</strong></center>
                            </div>
                        </div>

                        <div class="panel-body" style="padding-top: 20px; padding-right: 20px">
                            <center> <img src="/Uploads/omi.jpg" alt="supervisor photo" height="200px" width="200px" style="border-radius:70px" /></center>
                        </div>
                    </div>
                </div>
            </div>
        </header>

    </nav>
    <div class="cd-overlay"></div>


    <!-- Javascripts -->
    <script src="/assets/plugins/jquery/jquery-2.1.3.min.js"></script>
    <script src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!--<script src="/assets/plugins/pace-master/pace.min.js"></script>-->
    <script src="/assets/plugins/jquery-blockui/jquery.blockui.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/assets/plugins/switchery/switchery.min.js"></script>
    <script src="/assets/plugins/uniform/jquery.uniform.min.js"></script>
    <script src="/assets/plugins/offcanvasmenueffects/js/classie.js"></script>
    <script src="/assets/plugins/offcanvasmenueffects/js/main.js"></script>
    <script src="/assets/plugins/waves/waves.min.js"></script>
    <script src="/assets/plugins/3d-bold-navigation/js/main.js"></script>
    <script src="/assets/plugins/waypoints/jquery.waypoints.min.js"></script>
    <script src="/assets/plugins/jquery-counterup/jquery.counterup.min.js"></script>
    <!-- <script src="/assets/plugins/toastr/toastr.min.js"></script>-->
    <script src="/assets/plugins/flot/jquery.flot.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.time.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.symbol.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.resize.min.js"></script>
    <script src="/assets/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/assets/plugins/curvedlines/curvedLines.js"></script>
    <script src="/assets/plugins/metrojs/MetroJs.min.js"></script>
    <script src="/assets/js/modern.min.js"></script>
    <script src="/assets/js/pages/dashboard.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>