﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    @RenderSection("required",false)
    <meta charset="UTF-8">
    <title>Login form</title>
    <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,200' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/assets/css/reset.css">

    <link rel="stylesheet" href="/assets/css/style.css">



</head>
<body>
@RenderSection("required", false)
<div class="menu">
    <ul class="mainmenu clearfix">
        <li class="menuitem">Well</li>
        <li class="menuitem">how</li>
        <li class="menuitem">about</li>
        <li class="menuitem">that?</li>
    </ul>
</div>
@RenderBody()





<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

</body>
</html>
@RenderSection("required", false)
