﻿@model DailyServiceToolkit.Models.ServiceProvider

@{
    ViewBag.Title = "Create";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/kendo.default.min.css" rel="stylesheet" />
<script src="~/Content/kendo.all.min.js"></script>


<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="clearfix"></div>
    <div class="form-horizontal">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title center">
                        <center><strong style="font-size: 18px"> Service Providers Registration</strong></center>
                    </div>
                </div>

                <div class="panel-body" style="padding-top: 20px; padding-right: 20px">


                    <div class="form-group">
                        <label class="control-label col-md-2">Name</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">City</label>
                        <div class="col-md-4">
                            @Html.DropDownList("CityId", null, "Select City", new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.CityId)
                        </div>
                       
                        <label class="control-label col-md-2">Add City Here</label>
                        <div class="col-md-4">
                            <div class="btn btn-default">
                                @Html.ActionLink("Add City", "Create", "City")</div>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Area</label>
                        <div class="col-md-4">
                            @Html.DropDownList("AreaId", null, "Select area", new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.AreaId)
                        </div>
                        <label class="control-label col-md-2">Add Area Here</label>
                        <div class="col-md-4">
                            <div class="btn btn-default">@Html.ActionLink("Add Area", "Create", "Area")</div>
                        </div>
                    </div>
                   

                    <div class="form-group">
                        @Html.LabelFor(model => model.ContactAddress, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.ContactAddress, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ContactAddress)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ContactNo, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ContactNo)
                        </div>

                        <label class="control-label col-md-2">Image</label>
                        <div class="col-md-4">
                            <input type="file" id="photo" name="image" class="btn btn-success" />

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "email" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>

                        @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", type = "password" })
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProfId, "ProfId", new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownList("ProfId", null, "select profession", new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.ProfId)
                        </div>
                        <label class="control-label col-md-2">Add Profession Here</label>
                        <div class="col-md-4">
                            <div class="btn btn-default">@Html.ActionLink("Add Profession","Create","Profession")</div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Specialty, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Specialty, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Specialty)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IsOrganization, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.IsOrganization, new { type = "checkbox", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IsOrganization)
                        </div>

                        @Html.LabelFor(model => model.OrganzeName, new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.OrganzeName,new{@class="form-control"})
                            @Html.ValidationMessageFor(model => model.OrganzeName)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

            

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
