﻿@model DailyServiceToolkit.Models.ServiceProvider

@{
    ViewBag.Title = "Details";
}



<div id="main-wrapper">
    <div class="row">
        <div class="col-md-6 user-profile" style="margin-top: 0px">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Contact Info</div>
                </div>
                <div class="panel-body">
                    @{

                        string myst = "/Uploads/ServiceProvider/" + Model.Image;
                    }

                    <img height="250px" width="250px" style="border-radius: 120px; margin-left: 130px" src="@myst" alt="">

                    <h3 class="text-center">@Model.Name</h3>
                    <p class="text-center">@Model.Profession.ProfName</p>
                    <hr>
                    <ul class="list-unstyled text-center">
                        <li>
                            <p><i class="fa fa-map-marker m-r-xs"></i>@Model.Area.AreaName, @Model.City.CityName</p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-envelope m-r-xs"></i><a href="#">@Model.Email</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-phone m-r-xs"></i><a href="#">@Model.ContactNo</a>
                            </p>
                        </li>
                    </ul>
                    <hr>
                    <button class="btn btn-primary btn-block"><i class="fa fa-plus m-r-xs"></i>Follow</button>
                    @{
                        string spid = @Model.Id.ToString();
                    }
                       @{
                           if (Session["sp"] != null)

                           {

                               <div class="btn btn-default btn-block">@Html.ActionLink("Edit Info", "Edit", new {id = Model.Id})</div>
                           }
                           <ul class="list-unstyled text-center">
                               <li></li>
                           </ul>
                       }
                </div>
            </div>
        </div>
       
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Organization</div>
                </div>
                <div class="panel-body">
                    <p>@Model.OrganzeName</p>
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="panel-title"><center><b>Specialty Info</b></center>
                    </div>
                </div>
                <div class="panel-body">
                    <p><center>@Model.Specialty</center>
                    </p>
                </div>
            </div>
            @*<div class="panel panel-success">
                <div class="panel-heading">
                    <div class="panel-title">Skills</div>
                </div>
                <div class="panel-body">
                    <p>HTML5</p>
                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        </div>
                    </div>
                    <p>PHP</p>
                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        </div>
                    </div>
                    <p>Javascript</p>
                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>

