﻿@{
    ViewBag.Title = "RegisterSuccess";
}


<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/kendo.default.min.css" rel="stylesheet" />
<script src="~/Content/kendo.all.min.js"></script>
<style>
    .jumbotron {
        
    }
</style>


<form method="POST">
    <div class="container">
        <div class="jumbotron">
            <center>
                <h3 style="color: goldenrod">You are successfully registered</h3>
            </center>
            <hr />

            <p style="color: #008080">
                <center>   For login @Html.ActionLink("Click Here", "Index", new { @controller = "Login" }, new { @class = "btn btn-primary" })</center>

                <center>To go to home page  @Html.ActionLink("Click Home", "Index", new{@controller="Home"}, new { @class = "btn btn-info" })</center>
            </p>
        </div>

    </div>
</form>
