﻿@using DailyServiceToolkit.Models
@model DailyServiceToolkit.Models.ServiceProvider

@{
    ViewBag.Title = "SearchByProfession";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    List<ServiceProvider> serviceProviders = new List<ServiceProvider>();
    DailyServiceDBEntities db = new DailyServiceDBEntities();
    Nullable<int> profid = ViewBag.PId;
    Nullable<int> areaid = ViewBag.AId;

    if (profid == null && areaid == null)
    {
        serviceProviders = db.ServiceProviders.ToList();
    }
    else if (ViewBag.ProfId == null && ViewBag.AreaId != null)
    {
        serviceProviders = db.ServiceProviders.Where(s => s.AreaId == areaid).ToList();
    }
    else if (ViewBag.ProfId != null && ViewBag.AreaId == null)
    {
        serviceProviders = db.ServiceProviders.Where(s => s.ProfId == profid).ToList();
    }
    else
    {
        serviceProviders = db.ServiceProviders.Where(s => s.ProfId == profid && s.AreaId == areaid).ToList();
    }
}
@*<form method="POST" enctype="multipart/form-data">*@
<div class="page-title">

    <h4>Search Results</h4>
    <div class="info-box">
        <p>Search service providers below of your area</p>
    </div>
</div>
<div id="main-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div class="search p bg-light m-b-sm">
                        <form method="POST" enctype="multipart/form-data">
                            <div class="input-group">
                                @*<input type="text" name="search" class="form-control input-search" placeholder="Search...">*@
                                @Html.DropDownList("ProfId", null, "select profession", new { @class = "form-control input-search" })
                                <br />
                                <br />

                                @Html.DropDownList("AreaId", null, "select area", new { @class = "form-control input-search" })
                                <br />
                                <br />

                                <span class="input-group-btn">
                                    <input class="btn btn-danger" type="submit" value="Search" /><i class="fa fa-search"></i>
                                </span>
                            </div><!-- Input Group -->
                        </form><!-- Search Form -->
                    </div>
                    <div role="tabpanel">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab" aria-expanded="false">Service providers<span class="badge badge-success pull-right m-l-xs">@serviceProviders.Count</span></a></li>
                            @*<li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="tab" aria-expanded="true">Users<span class="badge badge-danger pull-right m-l-xs"></span></a></li>*@
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in p-v-lg" id="all">
                                @{

                                    foreach (var sp in serviceProviders)
                                    {
                                        <div class="col-md-4">
                                            <div class="search-item">
                                                <h3 class="no-m">
                                                    <a href="#">@sp.Name</a>
                                                </h3>
                                                <a href="#" class="search-link">@sp.Profession.ProfName</a>
                                                <p>@sp.Specialty</p>
                                                <a>@Html.ActionLink("Details", "Details", new { id = sp.Id }, new { @class = "search-link" })</a>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Row -->
</div><!-- Main Wrapper -->
@*</form>*@



