﻿@model DailyServiceToolkit.Models.ServiceProvider

@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_login.cshtml";
}
<form method="POST">
    <h1>@ViewBag.Message</h1>
    <div class="form">
        <div class="forceColor"></div>
        <div class="topbar">
            <div class="spanColor"></div>
            <input type="text" class="input" name="username" placeholder="Username"/>
            <div class="spanColor"></div>
            <input type="password" class="input" name="password" placeholder="Password"/>
        </div>
        <input class="submit" type="submit" id="submit" value="Login"/>
    </div>

</form>


