﻿@model DailyServiceToolkit.Models.Area

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="clearfix"></div>
    <h4>@ViewBag.Message</h4>
    <div class="form-horizontal">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title center">
                        <center><strong style="font-size: 18px">Add City</strong></center>
                    </div>
                </div>

                <div class="panel-body" style="padding-top: 20px; padding-right: 20px">

                    <div class="form-group">
                        @Html.LabelFor(model => model.AreaName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.AreaName,new {@class="form-control"})
                            @Html.ValidationMessageFor(model => model.AreaName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CityId, "CityId", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("CityId",null,"Select City",new {@class="form-control"})
                            @Html.ValidationMessageFor(model => model.CityId)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
