﻿@model DailyServiceToolkit.Models.City

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/kendo.default.min.css" rel="stylesheet" />
<script src="~/Content/kendo.all.min.js"></script>


<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="clearfix"></div>
    <h4>@ViewBag.Message</h4>
    <div class="form-horizontal">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title center">
                        <center><strong style="font-size: 18px">Add City</strong></center>
                    </div>
                </div>

                <div class="panel-body" style="padding-top: 20px; padding-right: 20px">

                    <div class="form-group">
                        @Html.LabelFor(model => model.CityName, new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.CityName,new {@class="form-control"})
                            @Html.ValidationMessageFor(model => model.CityName)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
