﻿@model DailyServiceToolkit.Models.ServiceSeeker

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/kendo.default.min.css" rel="stylesheet" />
<script src="~/Content/kendo.all.min.js"></script>

@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script type="text/javascript">

    $(document).ready(function () {

        $("#CityId").change(function () {
            $("#AreaId").empty();
            $("#AreaId").append('<option value="0">Select One</option>');
            // console.log($('#Area').val());
            // console.log($("#Area").val());
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetArea", "ServiceSeeker")',
                dataType: 'json',
                data: { cityId: $("#CityId").val() },

                success: function (tags) {
                    $.each(tags, function (i, tag) {
                        console.log(tag.text);
                        $("#AreaId").append('<option value="' + tag.Value + '">' +
                            tag.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        });
    });
</script>
<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="clearfix"></div>
    <h4>@ViewBag.Message</h4>
    <div class="form-horizontal">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title center">
                        <center><strong style="font-size: 18px"> Service Seekers Registration</strong></center>
                    </div>
                </div>

                <div class="panel-body" style="padding-top: 20px; padding-right: 20px">
                    <div class="form-group">
                        <label class="control-label col-md-2">Name</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Enter Name" })
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">City</label>
                        <div class="col-md-4">
                            @Html.DropDownList("CityId", null, "Select One", new { @class = "form-control" })
                        </div>
                        <label class="control-label col-md-2">Area</label>

                        <div class="col-md-4">
                            @Html.DropDownList("AreaId", null, "Select One", new { @class = "form-control" })

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">Contact Address</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(x => x.ContactAddress, new { @class = "form-control", @placeholder = "Enter address" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Contact No</label>
                        <div class="col-md-4">

                            @Html.TextBoxFor(x => x.ContactNo, new { @class = "form-control", @placeholder = "Enter Contact No" })
                        </div>

                        <label class="control-label col-md-2">Image</label>
                        <div class="col-md-4">
                            <input type="file" id="photo" name="image" class="btn btn-success"/>
                           
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Email</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Enter Email Address", type = "email" })

                        </div>
                        @*</div>
                            <div class="form-group">*@
                        <label class="control-label col-md-2">Password</label>
                        <div class="col-md-4">
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "Enter password", type = "password" })
                        </div>
                        @*<label class="control-label col-md-2">Confirm Password । পুনঃ পাসওয়ার্ড</label>
                            <div class="col-md-4">
                                <input type="password" name="txtConfirmPassword" placeholder="confirm password" class="form-control" required />
                            </div>*@
                    </div>



                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" id="btnSave" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
