﻿@using DailyServiceToolkit.Models
@model DailyServiceToolkit.Models.ServiceSeeker

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-wrapper">
    <div class="row">
        <div class="col-md-3"></div>
        <div class=" col-md-6 user-profile" style="margin-top: 0px">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">Contact Info</div>
                </div>
                <div class="panel-body">
                    @{

                        string myst = "/Uploads/ServiceSeeker/" + Model.Image;
                    }

                    <img height="250px" width="250px" style="border-radius: 120px; margin-left: 130px" src="@myst" alt="">

                    <h3 class="text-center">@Model.Name</h3>
                    <p class="text-center">@Model.ContactAddress</p>
                    <hr>
                    <ul class="list-unstyled text-center">
                        <li>
                            @{
                                 DailyServiceDBEntities db = new DailyServiceDBEntities();
                                var area = db.Areas.Find(Model.AreaId);
                                var city = db.Cities.Find(Model.CityId);
                            }
                            <p><i class="fa fa-map-marker m-r-xs"></i>@area.AreaName, @city.CityName</p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-envelope m-r-xs"></i><a href="#">@Model.Email</a>
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-phone m-r-xs"></i><a href="#">@Model.ContactNo</a>
                            </p>
                        </li>
                    </ul>
                    <hr>
                    <button class="btn btn-primary btn-block"><i class="fa fa-plus m-r-xs"></i>Follow</button>
                    @{
                        string spid = @Model.Id.ToString();
                    }
                    @*<div class="btn btn-default btn-block">@Html.ActionLink("Edit Info", "Edit", new { id = Model.Id })</div>*@
                    <ul class="list-unstyled text-center">
                        <li></li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-md-3"></div>
    </div>
</div>

